    <meta charset="utf-8">
    <title>Colleen and Blake</title>
    <!-- Meta Data -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colleen and Blake's Wedding Website">
    <meta name="author" content="Mimi Netto">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="/css/bootstrap-grid.css">
    <!-- <link rel="stylesheet" href="/css/bootstrap-grid.min.csss"> -->
    <link rel="stylesheet" href="/css/bootstrap-reboot.css">
    <!-- My CSS -->
    <link rel="stylesheet" href="/css/app.css">
