<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
  <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <div class="container">
  <div class="jumbotron mt-3">
    <img class="float-left fancy" src="/img/fancy.png" alt="">
    <h1 class="top-text">Welcome</h1>
    <p class="lead">Are you down with the clown?</p>
  </div>
</div>
  <%- include('./partials/nav.ejs') %>
  </body>
</html>
