<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('./partials/head.ejs') %>
</head>

<body>
  <%- include('./partials/header.ejs') %>
  <div class="container">
    <form action="/rsvps" method="POST">
      <div class="form-group mx-auto row">
        <div class="col">
          <label for="Name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="col">
          <label for="From">From</label>
          <input type="text" class="form-control" id="from" placeholder="I'm from...">
        </div>
      </div>
      <div class="form-group mx-auto box">
        <label for="Memory">Favorite Memory</label>
        <textarea class="form-control" id="memory" placeholder="My favorite memory was when..." rows="3"></textarea>
        <label for="Wishes">Wishes</label>
        <textarea class="form-control" id="wishes" placeholder="Your wishes to the Bride and Groom!" rows="3"></textarea>
        <input class="sign-it" type="submit" name="sign" value="Sign"/>
      </div>




    </form>
  </div>

  <%- include('./partials/nav.ejs') %>
</body>

</html>
