<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <%- include('./partials/head.ejs') %>
</head>

<body>
  <%- include('./partials/header.ejs') %>
  <div class="container">
    <form action="/rsvps" method="POST">
      <div class="form-group mx-auto row">
        <div class="col-sm-6">
          <label for="name">Name</label>
          <input type="text" name="name" class="form-control" id="name" placeholder="Name">
        </div>
        <div class="col-sm-6">
          <label for="from">From</label>
          <input type="text" name="from" class="form-control" id="from" placeholder="I'm from...">
        </div>
      </div>
      <div class="form-group mx-auto box">
        <label for="img">Image </label>
        <input type="text" name="img" class="form-control" id="img" placeholder="http://image-adress.jpg">
      </div>
      <div class="form-group mx-auto box">
        <label for="memory">Favorite Memory</label>
        <textarea class="form-control" name="memory" id="memory" placeholder="My favorite memory was when..." rows="3"></textarea>
        <label for="wish">Wishes</label>
        <textarea class="form-control" name="wish" id="wishes" placeholder="Your wishes to the Bride and Groom!" rows="3"></textarea>
        <label class="side" for="side">Are you from the groom or bride's side?</label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="side" id="inlineRadio1" value="Colleen">
          <label class="form-check-label" for="side">
            <p class="check">Colleen</p>
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="side" id="inlineRadio1" value="Blake">
          <label class="form-check-label" for="side">
            <p class="check">Blake</p>
          </label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="side" id="inlineRadio1" value="Both">
          <label class="form-check-label" for="side">
            <p class="check">Both!</p>
          </label>
        </div>

        <input class="sign-it" type="submit" value="Sign" />
      </div>




    </form>
  </div>

  <%- include('./partials/nav.ejs') %>
</body>

</html>
