/* colors - #61060e #cec79f #51484f*/
@import url("https://use.typekit.net/maf7bgn.css");

body {
  font-family: sans-serif;
  height: 100%;
  background: url("/img/background.png") fixed no-repeat;
  background-size: 100% auto;
  margin-bottom: 20%;
}

.jumbotron {
  /* background: url("/img/fancy.jpg") no-repeat; */
  background-color: #cec79f;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  min-height: 400px;
  width: auto;
}

img.fancy {
  max-height: 300px;
  width: auto;
  margin-right: 50px;
  margin-bottom: 50px;
}

.container {
  height: 100%;
  background-color: transparent !important;
  margin-bottom: 15%;
  margin-top: 5%;
}

.bg-gold {
  background-color: #cec79f !important;
  border-top: 2px solid #61060e;
}

hr.gold {
  width: 60%;
  height: 2px;
  margin-top: 1px;
  background-color: #cec79f;
}

hr.gold-index {
  width: 90%;
  height: 2px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #cec79f;
}

.space {
  margin-bottom: 5%;
}

p#count {
  text-align: center;
  font-family: rumba-small, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14pt;
  font-weight: 700;
  font-style: normal;
  color: #61060e;
  text-transform: capitalize;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* fonts */
h1.top-text {
  font-family: al-fresco, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #61060e;
}

h6 {
  font-style: italic;
}

/* show */
.content {
  width: 75%;
}

.pic {
  max-height: 200px;
  max-width: 250px;
  border-radius: 5px;
  margin: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

li {
  list-style-type: none;
  font-weight: 900;
}

.show {
  display: inline-block;
}

p.show {
  font-weight: 400;
}

h1.show {
  font-family: wreath, serif;
  color: #61060e;
}

h3 {
  font-family: wreath, serif;
  display: inline-block;
}

p.tex {
  font-weight: 400;
}

i.cran {
  color: #61060e;
}

.signed {
  background-color: #ffffffd1;
  border: 1px #cec79f47 solid;
  border-radius: 10px;
  /* box-shadow: 0 6px 10px 0 rgba(50 6 13 / 13%); */
}

/* form stuff */
.form-group {
  width: 75%;
}

label {
  font-family: wreath, serif;
  font-size: 22pt;
  font-weight: 500;
  font-style: normal;
  margin-top: 25px;
  margin-bottom: 3px;
}

.box {
  padding-right: 15px;
  padding-left: 15px;
}

input.sign-it {
  font-family: rumba-small, sans-serif;
  font-size: 12pt;
  font-weight: 500;
  font-style: normal;
  background-color: #cec79f;
  color: #61060e;
  border: #61060e solid 2px;
  border-radius: 5px;
  margin-top: 3%;
  width: 100px;
  display: block;
}

input.sign-it[type='submit']:hover {
  cursor: pointer;
  background-color: #61060e;
  color: #cec79f;
  border: #cec79f solid 2px;
}

.buttons {
  margin-top: 50px;
}

input.cranberry {
  font-family: rumba-small, sans-serif;
  font-size: 12pt;
  font-weight: 500;
  font-style: normal;
  background-color: #cec79f;
  color: #61060e;
  border: #61060e solid 2px;
  border-radius: 5px;
  margin-top: 3%;
  min-width: 150px;
  padding: 5%;
  display: inline-block;
}

input.cranberry[type='submit']:hover {
  cursor: pointer;
  background-color: #61060e;
  color: #cec79f;
  border: #cec79f solid 2px;
}

input.goldie {
  font-family: rumba-small, sans-serif;
  font-size: 12pt;
  font-weight: 500;
  font-style: normal;
  background-color: #61060e;
  color: #cec79f;
  border: #cec79f solid 2px;
  border-radius: 5px;
  margin-top: 3%;
  min-width: 150px;
  padding: 5%;
  display: inline-block;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input.goldie[type='submit']:hover {
  cursor: pointer;
  background-color: #cec79f;
  color: #61060e;
  border: #61060e solid 2px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.inline {
  display: inline-block;
}

p.check {
  font-weight: 400;
  font-family: sans-serif;
  font-size: 14pt;
}

label.side {
  display: block;
  margin-bottom: 0;
}

.form-check-inline .form-check-input {
  margin-top: 5px;
}

textarea#memory {
  resize: none;
  box-shadow: 2px 2px #cec79f;
  border: #61060e solid 2px;
}

textarea#wishes {
  resize: none;
  box-shadow: 2px 2px #cec79f;
  border: #61060e solid 2px;
}

input#name {
  resize: none;
  box-shadow: 2px 2px #cec79f;
  border: #61060e solid 2px;
}

input#from {
  resize: none;
  box-shadow: 2px 2px #cec79f;
  border: #61060e solid 2px;
}

input#img {
  resize: none;
  box-shadow: 2px 2px #cec79f;
  border: #61060e solid 2px;
}

/* nav */
.navbar-light .navbar-brand {
  color: #61060e !important;
  font-family: rumba-small, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(0 0 0 / 82%);
}

a.nav-link:hover {
  color: #61060e !important;
}
