/* colors - #61060e #cec79f #51484f*/
@import url("https://use.typekit.net/maf7bgn.css");

html,
body {
  font-family: sans-serif;
  height: 100%;
  background: url("/img/background.png") fixed no-repeat;
  background-size: 100% auto;
  margin-bottom: 15%;
}

.jumbotron {
  /* background: url("/img/fancy.jpg") no-repeat; */
background-color: #cec79f;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
min-height: 400px;
width: auto
}

img.fancy {
  max-height: 300px;
  width: auto;
  margin-right: 50px;
  margin-bottom: 50px;
}

.container {
  height: 100%;
  background-color: transparent !important;
  margin-bottom: 15%;
  margin-top: 5%;
}

.bg-gold {
  background-color: #cec79f !important;
  border-top: 2px solid #61060e;
}

hr.gold {
  width: 60%;
  height: 2px;
  margin-top: 1px;
  background-color: #cec79f;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* fonts */
h1.top-text {
  font-family: al-fresco, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #61060e;
}

/* show */
.content {
  width: 75%;
}

li {
  list-style-type: none;
  font-weight: 900;
}

.show {
   display: inline-block;
}
p.show {
   font-weight: 400;
   margin-left: 5%;
}

h3{
   font-family: wreath, serif;
   display: inline-block;
}

/* form stuff */
.form-group {
  width: 75%;
}

label {
  font-family: wreath, serif;
  font-size: 22pt;
  font-weight: 500;
  font-style: normal;
  margin-top: 25px;
  margin-bottom: 3px;
}

.box {
  padding-right: 15px;
  padding-left: 15px;
}

input.sign-it {
  font-family: wreath, serif;
  font-size: 16pt;
  font-weight: 500;
  font-style: normal;
  background-color: #cec79f;
  color: #61060e;
  border: #61060e solid 2px;
  border-radius: 5px;
  margin-top: 3%;
  width: 100px;
}

input.sign-it[type='submit']:hover {
  cursor: pointer;
  background-color:#61060e;
  color:  #cec79f;
  border: #cec79f solid 2px;
}

textarea#memory{
  resize: none;
  box-shadow: 2px 2px #cec79f;
  border: #61060e solid 2px;
}
textarea#wishes{
  resize: none;
  box-shadow: 2px 2px #cec79f;
  border: #61060e solid 2px;
}
input#name{
  resize: none;
  box-shadow: 2px 2px #cec79f;
  border: #61060e solid 2px;
}
input#from{
  resize: none;
  box-shadow: 2px 2px #cec79f;
  border: #61060e solid 2px;
}

/* nav */
.navbar-light .navbar-brand {
  color: #61060e !important;
}
